* {
  box-sizing: border-box;
}

p { /*first paragraph style*/
  font-family: "Courier New";
  font-size: 20px;
  text-align:center;
  color: #EAE4F1;
}

h1 {  /*header style*/
  color:#730479;
  text-align: center;
  font-size: xx-large;
}

a { /*Style of "a", mostly used for references and the title buttons*/
  font-family: "Courier New";
  font-size: 20px;
  text-align: left;
  text-decoration: none;
  color: #000;
}

.main {
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  background-color:#EAE4F1; /*header color*/
  width:100%;
  justify-content: space-between;
  align-items: flex-end;
}

.main-window { /*hovedvindu på sidene, der det meste legges inn*/
  position: relative;
}

body {
  background-color:#38023B; /*color of background on main page*/
}

.dropbtn { /*style of dropdown buttons*/
  background-color: #EAE4F1;
  padding: 16px;
  min-width: 130px;
  border: none;
  font-family: "Courier New";
  font-size: 20px;
  text-decoration: none;
  color: #000;
  transition: .3s;
}

.dropdown-box{
  display: flex;
  align-items: center;
}

.dropdown-content { /*Innholdet i dropdown menyen*/
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 130px;
  right: 0;
  z-index: 2;
}

.dropdown-content a {
  color: black;
  text-decoration: none;
  display: block;
}

.dropbtn:hover {
  font-size: 30px;
}

.dropdown-content a:hover {background-color: #FDE7E9; font-size: 22px;}

.dropbtn:hover + .dropdown-content, .dropdown-content:hover {display: block;}

.personlig {
  color: rgb(5, 5, 5);
  padding: 16px;
  min-width: 130px;
  transition: .3s;
}

.personlig:hover {
  font-size: 30px;
}


.dropdown:hover .personlig {
  font-size: 20px;
}

.dropdown:hover .dropbtn {
  font-size: 30px;
}