* {
  box-sizing: border-box;
}

p { /*first paragraph style*/
  font-family: "Courier New";
  font-size: 20px;
  text-align:center;
  color: #EAE4F1;
}

h1 {  /*header title style*/
  color:#730479;
  text-align: center;
  font-size: xx-large;
}

a { /*Style of "a", mostly used for references and the title buttons*/
  font-family: "Courier New";
  font-size: 20px;
  text-align: left;
  text-decoration: none;
  color: #000;
}

.tilbake {
  font-size: xx-large;
}

.main { /*hele siden*/
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  background-color:#EAE4F1; /*header color*/
  width:100%;
  justify-content: space-between;
  align-items: flex-end;
}

.main-window { /*hovedvindu på sidene, der det meste legges inn*/
  position: relative;
}

body {
  background-color:#38023B; /*color of background on main page*/
}

.dropbtn { /*style of dropdown buttons*/
  background-color: #EAE4F1;
  padding: 16px;
  border: none;
  font-family: "Courier New";
  font-size: 20px;
  text-decoration: none;
  color: #3B0233;
  transition: .3s;
}

.dropdown-box{ /*div til begge knappene*/
  display: flex;
  align-items: center;
}

.dropdown-content { /*Innholdet i dropdown menyen*/
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 130px;
  right: 0;
  z-index: 2;
}

.dropdown-content a { /*style of content text*/
  color: black;
  text-decoration: none;
  display: block;
}

.dropbtn:hover {
  font-size: 30px;
}

.dropdown-content a:hover {background-color: #FDE7E9; font-size: 22px;}

.dropbtn:hover + .dropdown-content, .dropdown-content:hover {display: block;}

.personlig { /*style of knapp*/
  color: #3B0233;
  padding: 16px;
  transition: .3s;
}

.personlig:hover { /*gjør teksten større når du holder over teksten*/
  font-size: 30px;
}

.dropdown:hover .dropbtn { /*Holder "Skole" stor også når du hovrer over dropdown content*/
  font-size: 30px;
}

@media (max-width:500px) { /*gjør at header endrer seg hvis skjermen er mindre enn 500px vid*/

  .header {
    flex-direction: column;
    align-items: center;
  }
}